/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html {
        width:100%;
        height:100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow-x:hidden;
    }
    nav .container, nav .container ul{
        gap: 0;
    }
    nav .container ul li a {
    font-size: 10px;
    padding: 8px;
    }
    .main_nav .container ul,
    /* #on-scroll-nav, */
    nav .container .resume-btn,
    nav .container .profile img, #on-scroll-nav {
        visibility: hidden;
    }

    /* hero section */
    .hero-sec {
        padding: 0;
    }

    .hero-sec h2 {
        font-size: 12px;
    }

    .hero-sec p,
    .skills .skills-heading p,
    .projects .pro-heading p,
    .contact .con-heading p,
    .services .pro-heading p,
    .service__text{
        padding: 0;
        margin-bottom: 10px;
        font-size: 12px;
        width: auto;
    }

    .hero-sec .container,
    .projects .container .pro-list .col-md-6 h1,
    .projects .container .pro-list .col-md-6 img {
        text-align: center;
        padding: 0;
        margin: 0;
        left: 0;
        top: 0;
    }

    .hero-sec .name,
    .skills .skills-heading h1,
    .projects .pro-heading h1,
    .contact .con-heading h1,
    .services .pro-heading h1,
    .blogs_items h1  {
        font-size: 22px;
    }

    .hero-sec .s-info {
        font-size: 20px;
    }

    /* hero_img */
    .hero-sec img,
    .projects .container .pro-list .col-md-6 img {
        width: 280px;
    }

    /* Skills */
    .skills_main .res_1, .skills_main .res_2{
        flex-direction: column;
    }
    .projects .container .pro-list .col-md-6 p {
        visibility: hidden;
    }

    /* Buttons */
    .contact .con-btn,
    .hero-sec .container .con-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        /* flex-direction: column; */
        margin-top: 0;
        gap: 10px;
    }

    .contact .con-btn button,
    .hero-sec .container .con-btn button {
        margin-top: 15px;
        width: 140px;
    }

    .contact .con-btn button a,
    .hero-sec .container .con-btn button a {
        font-size: 11px;
    }
    /* Blogs */
    .blogs_items_main{
        flex-direction: column;
    }
    .blogs_items_main img{
        width: 300px;
    }
    .b_item h1{
        font-size: 13px;
    }
    .b_item h1 span{
        font-size: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 992px){
    nav .container, nav .container ul{
        gap: 0;
    }
    nav .container ul li a {
    font-size: 10px;
    padding: 8px;
    }
    /* .main_nav .container ul, */
    /* #on-scroll-nav, */
    /* nav .container .resume-btn { */
        /* visibility: hidden; */
    /* } */

    /* hero section */
    .hero-sec h2 {
        font-size: 15px;
    }
    .hero-sec img{
        width: 280px;
    }

    .hero-sec p,
    .skills .skills-heading p,
    .projects .pro-heading p,
    .contact .con-heading p,
    .services .pro-heading p,
    .service__text{
        padding: 0;
        margin-bottom: 10px;
        font-size: 10px;
        width: auto;
    }

    .hero-sec .name,
    .skills .skills-heading h1,
    .projects .pro-heading h1,
    .contact .con-heading h1,
    .services .pro-heading h1,
    .blogs_items h1 {
        font-size: 22px;
    }
    
    .hero-sec .s-info {
        font-size: 25px;
    }
    .hero-sec .container,
    .projects .container .pro-list .col-md-6 h1,
    .projects .container .pro-list .col-md-6 img {
        /* text-align: center;
        padding: 0;
        margin: 0;
        left: 0;
        top: 0; */
    }
    /* Skills */
    .skills_main{
        flex-direction: column;
    }
    .projects .container .pro-list .col-md-6 p {
        visibility: hidden;
    }
      /* Blogs */
    .blogs_items_main img{
        width: 250px;
    }
    .b_item h1{
        font-size: 13px;
    }
    .b_item h1 span{
        font-size: 10px;
    }
}
@media only screen and (min-width: 992px){
 .hero-sec .name {
        font-size: 40px;
    }
    .hero-sec .s-info{
        font-size: 45px;
    }
}
@media only screen and (max-width: 1400px){
   
    .blogs_items_main{
        flex-wrap:wrap;
    }
}
