*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background: linear-gradient(106.34deg, #213655 -29.21%, #020710 97.1%);
    height: 60vh;

}

.circle-img {
    position: absolute;
    left: -1rem;
width: 32rem;
top: 4rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 18px;
    height: 4rem;
    margin-top: 15px;

}

.nav-items {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.items {
    text-decoration: none;
    color: white;
    width: 9rem;
    height: 3rem;
}

.items:hover {
    box-shadow: 0px 2px 0px;
}
.icon-phone{
    margin-right: 3px;
}
.contatc-btn {
    border: none;
    outline: none;
    background-color: transparent;
    width: 9rem;
    height: 3rem;
    border: 2px solid #FFFF00;
    color: #FFFF00;
    border-radius: 4px;
    margin-right: 12px;
}

.contatc-btn:hover {
    transform: scale(1.1);
}

/* nav-end */
.hero-heading {

    width: 478px;
    height: 219px;
    margin-left: 4rem;
    margin-top: 5rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 53px;
    color: white;
}

.hero-para {
    width: 396px;
    height: 62px;
    margin-left: 4rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #A1A2A6;
    margin-top: -9rem;

}
/* main */
.pics{
    height: 155px;
    border-radius: 4px;
}
.blogs,.blogs2{
    display: flex;
align-items: center;
justify-content: space-evenly;

}
.blog-{
    margin-top: 14rem;
}
.blog-para{
    font-family: 'IBM Plex Sans', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 20px;
color: #FF7F00;

}
.blog-head{
    font-family: 'IBM Plex Sans', sans-serif;
    width: 365px;
height: 64px;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 32px;
color: #1D263A;
}
.blog-2{
    margin-top: 1rem;
    margin-left: -29.6rem;
    margin-bottom: 1rem;
}
.blog-2:hover,.blog-:hover{
    transition: 1s ease-in-out;
    transform: scale(1.06);
}
/* footer */
footer {

    height: 586px;
    background: linear-gradient(106.34deg, #08101D -29.21%, #020710 97.1%);
    border-radius: 4px;
}

.footer-head {
    width: 578px;
    height: 101px;
    margin-left: 150px;
    padding-top: 4rem;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 50px;
    /* or 157% */


    color: #FFFFFF;

}

.make-sale {
    margin-left: 65rem;
    width: 198.8px;
    height: 48.38px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height, or 180% */
    background-color: #FF7F00;
    text-align: center;
    outline: none;
    border: none;
    color: #FFFFFF;
    border-radius: 2.69625px;

}

hr {
    color: #505C80;
    width: 69rem;
    margin-left: 9rem;
    margin-top: 3rem;

}

.footer-logo {
    width: 80px;
    margin-left: 150px;
    margin-top: 3rem;
}

.footer-para {
    width: 302px;
    height: 182px;
    margin-left: 150px;
    margin-top: .5rem;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    /* or 183% */


    color: #797979;

}

.footer-list1 {

    list-style: none;
    margin-left: 32rem;
    margin-top: -12.5rem;
}

.footer-item1 {
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
}

.footer-items {
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #797979;
    margin-bottom: 1.5rem;
}

.footer-list2 {

    list-style: none;
    margin-left: 42rem;
    margin-top: -13.1rem;
}

.footer-list3 {

    list-style: none;
    margin-left: 56rem;
    margin-top: -13.3rem;
}

.footer-list4 {

    list-style: none;
    margin-left: 69rem;
    margin-top: -13.3rem;
}

.footer-copyright {
    width: 255.24px;
    height: 22.47px;
    margin-left: 149px;
    margin-top: 3.5rem;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12.5825px;
    line-height: 23px;
    /* or 186% */

    color: #797979;

    opacity: 0.
}

.footer-policy {
    margin-left: 63rem;
    margin-top: -1.4rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12.5825px;
    line-height: 23px;
    color: #797979;
    opacity: 0.
}